<form action="/articles" method="post">
    <label>Title: </label>
    <input type="text" name="title" id="title">
    <label>Content: </label>
    <input type="text" name="content" id="content">
    <input type="submit" name="submit" id="submit">
</form>